# BEGIN: /C:/Users/campo/OneDrive/Escritorio/5 cuatrimestre/aplicaciones  moviles/api-groceries-master/src/views/.gitignore
node_modules/
.env
# END: /C:/Users/campo/OneDrive/Escritorio/5 cuatrimestre/aplicaciones  moviles/api-groceries-master/src/views/.gitignore
